PowershellExtensions/Tests/ExampleMigrationAssemblies/migrations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="databasemigrationsettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="server" type="xs:string" />
        <xs:element name="database" type="xs:string" />
        <xs:element name="defaultuser" type="xs:string" />
        <xs:element name="defaultuserpassword" type="xs:string" />
        <xs:element name="migrationuser" type="xs:string" />
        <xs:element name="migrationuserpassword" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>